@charset "UTF-8";

*{
    margin: auto;
    max-width: 520px;
}

body {
    background-color: #FFF0E2;
    font-family: 'Abril Fatface', cursive;
    max-width: 520px;
}

img {
    width: 100%;
}

/*** header ***/

header {
    height: 50px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu {
    flex: 1;
}

.header_menu a {
    position: absolute;
    top: 11px;
    left: 5px;
}

.header_menu img {
    width: auto;
    height: 24px;
}

.header_logo {
    flex: 1;
}

.header_logo a {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header_logo img {
    width: auto;
    height: 50px;
}

.header_order {
    flex: 1;
}

.header_order a {
    position: absolute;
    top: 0;
    right: 0;
}

.header_order img {
    width: auto;
    height: 50px;
}

.menu_bg {
    position:fixed;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: #F45102;
    z-index:10000;
    
} 

.menu_bg_inner {
    position:relative;
    width:100%;
    height:100%;
}

.gnb {
    position:absolute;
    top: 150px;
    left: 30px;
}

.menu_logo {
    display: block;
    margin: auto;
    top: 50px;
    width: 140px;
}

.menu_back {
    width: 25px;
    position: absolute;
    top: 35px;
    left: 30px;
    cursor: pointer;
}

.gnb ul {}

.gnb li {
    padding: 15px 0;
}
.gnb a {
    font-size:30px;
    color:#fff;
    opacity:0.7;
    transition:0.2s ease-in
}
.gnb a:hover{
    opacity:1;
}

/*** main ***/

main {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.main_wrap {
    padding: 7px 7px;
}

.main_wrap img {
    border-radius: 10px;
}

/*** section ***/

/*** section1 ***/

.section1 {
    padding-bottom: 7px;
}

.section1_wrap {}

.pro_tit {
    width: 90%;
}

.pro_tit > ul {
    display: flex;
    justify-content: space-between;
    padding: 12px 7px;
}

.pro_tit > ul > li {
}

.pro_tit > ul > li > a {
    font-size: 16px;
    color: #441F03;
    opacity: 55%;
}



.section1_pro {
}

.product_1 {}

.pro_wrap {
    border: .8px solid #000;
    height: 282px;
}

.pro_wrap img {
    width: 83px;
    height: 185px;
    transform: translate(90%, 10%);
}

.pro_wrap > .txt_1 {
    margin: 30px 7px;
}

.txt_1 > p {
    font-size: 7px;
    margin-bottom: 5px;
    padding-top: 4px;
}

.pro_span {
    border: .5px solid #000;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 6px;
    margin-right: 5px;
}

.pro_span:hover {
    color: #F45102;
    border: none;
    cursor: pointer;
}


/*** section2 ***/

.section2 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.section2_wrap {
    padding-top: 7px;
    padding-bottom: 27px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

.section2_img {
    padding-bottom: 20px;
}

.section2_img img {
    border-radius: 10px;
}

.section2_btns {
    width: auto;
}

.sel_btn {
    margin: 10px 8px;
    border: .8px solid #441F03;
    font-size: 10px;
    background-color:  #FFF0E2;
    font-family: 'Abril Fatface', cursive;
    padding: 5px 7px;
    border-radius: 10px;
}

.sel_btn:hover {
    border: none;
    background-color: #F45102;
}

.section2_sign {
    margin-top: 32px;
}

.section2_sign > .sign_up {
    color: #000;
    padding-right: 30px;
}

.section2_sign > .go {
    color: #000;
}

.sign_up:hover, .go:hover {
    text-decoration: underline;
}


/*** section3 ***/

.section3 {
    padding-bottom: 25px;
}

.section3_wrap {}

.section3_txt {
    text-align: center;
    margin: 20px 0 30px 0;
}

.section3_txt p {
    font-size: 16px;
}

.section3_imgs {
    margin: 0 12px;
}

.insta_pic > img {
    border-radius: 10px;
    height: 166px;
}


/*** section4 ***/

.section4 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 12px;
}

.section4_txt {
    margin-bottom: 12px;
}

.section4_txt .txt_1 {
    font-size: 16px;
}

.section4_txt .txt_2 {
    font-size: 12px;
    margin-top: 12px;
}

.section4_img {}

.section4_img img {
    border-radius: 10px;
}

.section4_btns {
    margin-top: 12px;
}

.section4_btns > input {
    width: 100%;
    height: 45px;
    padding: 9px 12px;
    border-radius: 10px;
    border: 1px solid #441F03;
    font-family: 'Abril Fatface', cursive;
    background-color: #FFF0E2;
}

.section4_btns > a {
    display: block;
    width: 100%;
    height: 45px;
    background-color: #F45102;
    color: #FFF0E2;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    margin-top: 10px;
}

.section4_btns > a:hover {
    color: #F45102;
    background-color: #FFF0E2;
    text-decoration: underline;
}

/*** footer ***/

footer {
    padding: 10px 10px;
    text-align: center;
}

.footer_wrap {}

.footer_wrap p {
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
    color: #441F03;
}

.footer_menu {
    margin-top: 24px;
    margin-bottom: 20px;
}

.footer_me {
    display: flex;
    justify-content: space-between;
}

.footer_me li {}

.footer_me li a {
    font-size: 14px;
    color: #441F03;
}

.copy {}

.footer_wrap .notice {
    font-size: 9px;
}

/*** popup ***/

#popup {
    display: none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
    z-index:101;
}

.popup_wrap {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 300px;
}

#popup .popup_txt .btn_area  {
    margin-top: 20px;
    background-color: #F45102;
    padding: 5px 10px;
    border-radius: 10px;
}

#popup .popup_txt .btn_area a {
    color: #441F03
}

#popup .popup_txt .btn_area:hover {
    background-color: #FFF0E2;
}

#popup .popup_btns {
    background-color: #F45102;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#popup .popup_btns .close {
    display: inline-block;
    width: 24px;
    height: 24px;
    background:url('../img/back_icon.png') no-repeat;
    text-indent:-9999px;
}

#popup .popup_txt {
    background: #FFF0E2;
    text-align: center;
    font-size: 16px;
    padding: 30px;
    color: #441F03;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#popup .popup_txt .tit_area {
    
}





